@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
}

body{
    background-color: rgb(0, 20, 8);
}

main{
padding-top: 50px;
width: 90%;
max-width: 500px;
margin: 0 auto;
/* border: 1px solid red; */
}

img{
    display: block;
    margin: 0 auto 10px;
    width: 160px;
}

h1{
    margin: 0 auto;
    text-align: center;
    font-weight: 900;
    font-size: 3.5em;
    letter-spacing: 0.8px;
    line-height: 58px;
    width: 350px;
}

p{
    text-align: center;
    margin: 35px 0 10px;
    font-size: 1.2em;
    font-weight: 400;

}

div{
    text-align: center;
}

input{
    width: 100px;
    height: 50px;
    background-color: rgba(255, 255, 255);
    outline: none;
    border-radius: 5px;
    border: none;
    color: black;
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
}

input[type=number]::-webkit-inner-spin-button{
    appearance: none;
}

span{
    margin: 0 10px;
    font-size: 1.2em;
}


button{
    display: block;
    margin: 20px auto 0;
    background-color: rgb(0, 233, 136);
    border: none;
    border-radius: 5px;
    width: 240px;
    height: 50px;
    font-size: 1.5em;
    font-weight: 700;
    cursor: pointer;
    color: rgb(0, 20, 8);
}

button:hover{
    color: rgb(230, 58, 58);
}
button:active{
    background-color: rgb(0, 233, 136, 0.8);
}

.circle{
    margin: 20px auto 0;
    background-color: white;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.result{
    color: rgb(230, 58, 58);
    font-size: 3em;
    font-weight: 900;
}

footer a{
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 0.7em;
}

footer a span{
    margin: 0;
    color: rgb(0, 233, 136);
    font-size: 1em;
}